//메뉴
.nav {
  position: absolute;
  .inner {
    position: fixed;
    width: 74px;
    height: 100%;
    background: #fff8e1;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #dad3bc52;
    z-index: 99;
    ul.menu {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      li {
        text-indent: 1.5em;
        line-height: 5.8em;
        font-size: 15px;
        a {
          display: block;
          text-decoration: none;
          color: #222;
          :nth-child(1) {
            font-size: 25px;
          }
        }
      }
    }
  }
}

//Home
.home {
  margin-left: 74px;
  background-color: #fff8e1;
  padding: 100px;
  .swiperMain {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    .swiperSlide {
      a {
        width: 100%;
        display: flex;
        img {
          height: 500px;
          overflow: hidden;
          border-radius: 10px;
        }
        .text {
          margin-left: 30px;
          color: #333;
          > .title {
            font-size: 30px;
            color: #ff4e6b;
          }
          .material {
            margin: 10px 0;
            width: 85%;
            font-size: 16px;
            font-weight: lighter;
          }
          > .recipe {
            font-size: 16px;
            margin: 10px 0;
          }
        }
      }
    }
  }
  .title {
    margin-top: 60px;
    h2 {
      text-align: left;
      font-size: 40px;
      color: #222;
    }
  }
  .homeList {
    max-width: 1600px;
    width: 100%;
    padding: 20px 0;
    position: relative;
    .swiper {
      height: 100%;
      .list {
        width: 100%;
        .item {
          width: 100%;
          height: fit-content;
          user-select: none;
          a {
            > .item-img {
              > img {
                border-radius: 8px;
              }
            }
            > .item-text-wrap {
            }
          }
        }
      }
      .swiper-scrollbar {
        background-color: #ccc; /* 스크롤바 배경색 */
        height: 5px; /* 스크롤바 높이 */
        .swiper-scrollbar-drag {
          background-color: #ff4e6b; /* 드래그 핸들의 색상 */
        }
      }
    }
  }
}
//List
.list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  .item {
    width: 20%;
    padding: 10px;
    .item-img {
      width: 100%;
      position: relative;
      // 정사각형으로 만들기 위한 css
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 10px;
      }
    }
    .list-text-wrap {
      margin-top: 15px;
      .list-txt-title {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis; //...
        white-space: nowrap;
      }
      .list-sub-txt-wrap {
        color: #666;
        font-size: 13px;
        .list-txt-kcal {
          margin: 5px 0;
          .kcalIcon {
            color: #444;
            margin-right: 5px;
          }
        }
        .list-txt-way {
          .cookIcon {
            color: #444;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.category {
  padding: 100px 20px;
  margin-left: 74px;
  background-color: #fff8e1;
  h2 {
    padding: 0 30px;
    text-align: left;
    font-size: 30px;
    color: #222;
  }
}

.recipeDetail {
  padding: 100px 20px;
  margin-left: 74px;
  display: flex;
  font-size: 14px;
  @media screen and (max-width: 540px) {
    flex-direction: column;
    align-items: center;
  }
  img {
    width: auto;
    height: 70%;
    margin-right: 20px;
    @media screen and (max-width: 780px) {
      width: 45%;
    }
    @media screen and (max-width: 540px) {
      width: 80%;
      margin-bottom: 10px;
    }
  }
  > div {
    padding: 3px 0;
    .recipeDetailTitle {
      font-size: 20px;
      font-weight: bold;
      color: #ff4e6b;
    }
    .recipeDetailInfo {
      margin-top: 10px;
      .info-title {
        font-weight: 600;
        margin-bottom: 5px;
        &::before {
          content: "● ";
          font-size: 12px;
        }
      }
      .txt {
        display: block;
        font-size: 13px;
        color: #222;
        line-height: 18px;
        .source-tit {
        }
        .source-con {
        }
      }
    }
    .recipeDetailInfo1 {
      margin: 10px 0;
      .info-title1 {
        font-weight: 600;
        margin-bottom: 5px;
        &::before {
          content: "● ";
          font-size: 12px;
        }
      }
      .desc_list {
        display: flex;
        font-size: 13px;
        color: #222;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        &::after {
          content: "";
          display: block;
          padding-bottom: 15%;
          @media screen and (max-width: 540px) {
            content: "";
            display: block;
            padding-bottom: 30px;
          }
        }
        img {
          width: 20%;
          height: auto;
          position: absolute;
          @media screen and (max-width: 780px) {
            display: none;
          }
        }
        .desc-txt {
          position: absolute;
          width: 50%;
          line-height: 18px;
          @media screen and (max-width: 780px) {
            width: 100%;
          }
        }
      }
    }
    .recipeDetailInfo2 {
      .info-title2 {
        font-weight: 600;
        margin-bottom: 10px;
        &::before {
          content: "● ";
          font-size: 12px;
        }
      }
      .table {
        padding: none;
        display: flex;
        .row-left{
          width: 10%;
        }
        .row-right{
          width: 50%;
        }
        .row {
          display: block;
          font-size: 13px;
          color: #222;
          margin-bottom: 5px;
          .col {
            font-weight: 500;
          }
          .col_info {
            font-weight: 400;
          }
        }
      }
      .tip {
        display: block;
        font-size: 13px;
        color: #222;
        width: 6  0%;
        .col {
          font-weight: 500;
        }
        .col_info {
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
  }
}
